.btn-g {
  height: inherit;
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  outline: none;
  border: none;
}

.btn-primary{
  background-color: var(--secondary-detail-color);
}

.btn-cancel{
  background-color: gray;
}

.btn-custom{
  background-color: inherit;
}