#root {
  padding: 1.5rem 2.3rem;
}

html {
  background-color: var(--primary-color);
}

.title {
  text-align: center;
}

.oauth-container {
  text-align: center;
}

.oauth-container {
  background-color: white;
  min-width: 206px;
  max-width: 500px;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.form-container {
  margin-top: 1.5rem;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.icon-input {
  position: absolute;
  top: 15px;
  left: 10px;
}

.form-input {
  height: 2.8rem;
  width: 100%;
  border: none;
  padding: 10px 10px 0 40px;
  border-bottom: thin solid var(--primary-detail-color);
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover, 
.form-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}

.form-label {
  background-color: white;
  cursor: pointer;
  position: absolute;
  left: 40px;
  transform: translateY(18px);
  transition: transform 0.5s, color 0.3s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-10px) translateX(-10px) scale(0.9);;
  transform-origin: top left;
}

.form-input:focus-visible {
  outline-color: var(--primary-detail-color);
}

.forgot-password-container > a{
  display: block;
  text-align: end;
}

.form-button-container {
  height: 2.4rem;
  max-width: 10rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.or-container {
  position: relative;
  display: grid;
  justify-content: center;
  color: gray;
  margin-top: 1rem;
}

.or-container:before {
  content: "";
  position: absolute;
  top: 50%;
  min-width: 80%;
  left: 10%;
  border-bottom: 1px solid gray;
}

.or-login {
  display: inline;
  position: relative;
  background-color: white;
}

.oauth-login-container {
  margin-top: 1rem;
}

.signup-container{
  margin-top: 5rem;
}

.signup-container > a{
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .oauth-container {
    padding: 2rem 4rem;
  }
}
