/* ********** Custom Properties ********** */
:root {
  --text-color: #0d192b;
  --primary-color: #0a8967;
  --secondary-color: #0c5149;
  --primary-detail-color: #07f9a2;
  --secondary-detail-color: #09c184;
}
/* ********** Reset ********** */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--text-color);
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  margin: 0;
}

/* ********** Components ********** */
.btn {
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}
/* ********** Utilities ********** */
/* ********** Site Styles ********** */